@import '@angular/material/theming';

@mixin recipe($theme) {
	$accent: map-get($theme, accent);
	$primary: map-get($theme, primary);

	app-recipe{
		.rating mat-icon{
			color: mat-color($primary, secondary-500);
		}

		.ingredient{
			background: mat-color($accent, neutral-10);

			span{
				color: mat-color($accent, neutral-50);
			}
		}
	}
}
