@use "variables" as var;
:host{
	.ingredient{
		display:flex;
		align-items:center;
		justify-content:space-between;
		padding: var.$spacing-m var.$spacing-m;
		margin-bottom: var.$spacing-s;
		border-radius: var.$radius-m;
		font-weight: var.$font-weights-poppins-semi-bold;
		font-size: var.$font-size-m;

		span{
			font-weight: var.$font-weights-poppins-regular;
			font-size: var.$font-size-s;
		}
	}
}
