@import "variables";
@import "themes";
:host{
	display:block;
	width:100%;
	height:auto;
	box-sizing: border-box;


	.fakeFrame{
		max-width: 375px;
		margin: 0 auto $spacing-xl;

		.fakeSettings{
			padding-bottom: $spacing-xl;
			display:flex;
			align-items:center;
			justify-content:space-between;
		}

	}

}
