@import "src/app/_partials/variables";
:host{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-top: $spacing-s;
	button{
		background:none;
		border: none;
		cursor:pointer;
		transition:all 220ms ease-in-out;

		&:hover{
			opacity: .7;
		}
	}
}
