@font-face {
	font-family: Poppins;
	src:url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: Poppins;
	src:url("../../assets/fonts/Poppins/Poppins-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: Poppins;
	src:url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Poppins;
	src:url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: Poppins;
	src:url("../../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
	font-weight: 900;
}
