@import "@angular/material/theming";
@import "variables";

/*$themes: (
	light: (
		$neutral-10: $light-neutral-10,
		$neutral-20: $light-neutral-20,
		$neutral-30: $light-neutral-30,
		$neutral-40: $light-neutral-40,
		$neutral-50: $light-neutral-50,
		$neutral-60: $light-neutral-60,
		$neutral-70: $light-neutral-70,
		$neutral-80: $light-neutral-80,
		$neutral-90: $light-neutral-90,
		$neutral-100: $light-neutral-100,
		$background-0: $light-background-0,
	),
	dark: (
		$neutral-10: $dark-neutral-10,
		$neutral-20: $dark-neutral-20,
		$neutral-30: $dark-neutral-30,
		$neutral-40: $dark-neutral-40,
		$neutral-50: $dark-neutral-50,
		$neutral-60: $dark-neutral-60,
		$neutral-70: $dark-neutral-70,
		$neutral-80: $dark-neutral-80,
		$neutral-90: $dark-neutral-90,
		$neutral-100: $dark-neutral-100,
		$background-0: $dark-background-0,
	),
);*/

$food-primary:(
	primary: $primary-50,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-dark-primary:(
	primary: $primary-30,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$food-accent:(
	accent: $light-neutral-50,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-dark-accent:(
	accent: $dark-neutral-50,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$food-app-primary: mat-palette($food-primary, primary);
$food-app-accent: mat-palette($food-accent, accent);
//dark
$food-app-dark-primary: mat-palette($food-dark-primary, primary);
$food-app-dark-accent: mat-palette($food-dark-accent, accent);
// The warn palette is optional (defaults to red).
// $food-app-warn: mat-palette($food-forklift-red);
// Create the theme object (a Sass map containing all of the palettes).
$food-app-theme: mat-light-theme($food-app-primary, $food-app-accent);
// dark
$food-app-dark-theme: mat-dark-theme(
		$food-app-dark-primary,
		$food-app-dark-accent
);
@mixin theme {
	@include apply-theme();
	.food {
		@include angular-material-theme($food-app-theme);
		@content ($food-app-theme);
		// dark
		&.dark-theme {
			@include angular-material-theme($food-app-dark-theme);
			@content ($food-app-dark-theme);
		}
	}
}
@mixin apply-theme {
	.food {
		@content ($food-app-theme);
		&.light-theme {
			@content ($food-app-dark-theme);
		}
	}
}
