@import "@angular/material/theming";
@import "variables";
$blue-primary: (
	primary-10:$light-primary-10,
	primary-20:$light-primary-20,
	primary-30:$light-primary-30,
	primary-40:$light-primary-40,
	primary-50:blue,
	primary-60:$light-primary-60,
	primary-70:$light-primary-70,
	primary-80:$light-primary-80,
	primary-90:$light-primary-90,
	primary-100:$light-primary-100,
	secundary-10:$light-secondary-10,
	secundary-20:$light-secondary-20,
	secundary-30:$light-secondary-30,
	secundary-40:$light-secondary-40,
	secundary-50:$light-secondary-50,
	secundary-60:$light-secondary-60,
	secundary-70:$light-secondary-70,
	secundary-80:$light-secondary-80,
	secundary-90:$light-secondary-90,
	secundary-100:$light-secondary-100,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-dark-primary: (
	primary-10:$dark-primary-10,
	primary-20:$dark-primary-20,
	primary-30:$dark-primary-30,
	primary-40:$dark-primary-40,
	primary-50:blue,
	primary-60:$dark-primary-60,
	primary-70:$dark-primary-70,
	primary-80:$dark-primary-80,
	primary-90:$dark-primary-90,
	primary-100:$dark-primary-100,
	secundary-10:$dark-secondary-10,
	secundary-20:$dark-secondary-20,
	secundary-30:$dark-secondary-30,
	secundary-40:$dark-secondary-40,
	secundary-50:$dark-secondary-50,
	secundary-60:$dark-secondary-60,
	secundary-70:$dark-secondary-70,
	secundary-80:$dark-secondary-80,
	secundary-90:$dark-secondary-90,
	secundary-100:$dark-secondary-100,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-accent: (
	neutral-10:$light-neutral-10,
	neutral-20:$light-neutral-20,
	neutral-30:$light-neutral-30,
	neutral-40:$light-neutral-40,
	neutral-50:$light-neutral-50,
	neutral-60:$light-neutral-60,
	neutral-70:$light-neutral-70,
	neutral-80:$light-neutral-80,
	neutral-90:$light-neutral-90,
	neutral-100:$light-neutral-100,
	background-0:$light-background-0,
	background-text:$light-background-text,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-dark-accent: (
	neutral-10:$dark-neutral-10,
	neutral-20:$dark-neutral-20,
	neutral-30:$dark-neutral-30,
	neutral-40:$dark-neutral-40,
	neutral-50:$dark-neutral-50,
	neutral-60:$dark-neutral-60,
	neutral-70:$dark-neutral-70,
	neutral-80:$dark-neutral-80,
	neutral-90:$dark-neutral-90,
	neutral-100:$dark-neutral-100,
	background-0:$dark-background-0,
	background-text:$dark-background-text,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-app-primary: mat-palette($blue-primary, primary);
$blue-app-accent: mat-palette($blue-accent, accent);
//dark
$blue-app-dark-primary: mat-palette($blue-dark-primary, primary);
$blue-app-dark-accent: mat-palette($blue-dark-accent, accent);
// The warn palette is optional (defaults to red).
// $blue-app-warn: mat-palette($blue-forklift-red);
// Create the theme object (a Sass map containing all of the palettes).
$blue-app-theme: mat-light-theme($blue-app-primary, $blue-app-accent);
// dark
$blue-app-dark-theme: mat-dark-theme(
		$blue-app-dark-primary,
		$blue-app-dark-accent
);
@mixin theme {
	@include apply-theme();
	.blue {
		@include angular-material-theme($blue-app-theme);
		@content ($blue-app-theme);
		// dark
		&.dark-theme {
			@include angular-material-theme($blue-app-dark-theme);
			@content ($blue-app-dark-theme);
		}
	}
}
@mixin apply-theme {
	.blue {
		@content ($blue-app-theme);
		&.light-theme {
			@content ($blue-app-dark-theme);
		}
	}
}
