@use "../../assets/tokens-output/web/brand-1/tokens-brand-1" as light;
@use "../../assets/tokens-output/web/brand-1-dark/tokens-brand-1-dark" as dark;
@import "@angular/material/theming";

$food-primary: (
	primary-10: light.$color-brand-primary,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-dark-primary: (
	primary-10: dark.$color-brand-primary,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-accent: (
	neutral-10:light.$color-accent-neutral-10,

	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-dark-accent: (
	neutral-10:dark.$color-accent-neutral-10,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$food-app-primary: mat-palette($food-primary, primary);
$food-app-accent: mat-palette($food-accent, accent);
//dark
$food-app-dark-primary: mat-palette($food-dark-primary, primary);
$food-app-dark-accent: mat-palette($food-dark-accent, accent);
// The warn palette is optional (defaults to red).
// $food-app-warn: mat-palette($food-forklift-red);
// Create the theme object (a Sass map containing all of the palettes).
$food-app-theme: mat-light-theme($food-app-primary, $food-app-accent);
// dark
$food-app-dark-theme: mat-dark-theme(
		$food-app-dark-primary,
		$food-app-dark-accent
);
@mixin theme {
	@include apply-theme();
	.food {
		@include angular-material-theme($food-app-theme);
		@content ($food-app-theme);
		// dark
		&.dark-theme {
			@include angular-material-theme($food-app-dark-theme);
			@content ($food-app-dark-theme);
		}
	}
}
@mixin apply-theme {
	.food {
		@content ($food-app-theme);
		&.light-theme {
			@content ($food-app-dark-theme);
		}
	}
}
