@use "../../assets/tokens-output/web/brand-2/tokens-brand-2" as light;
@use "../../assets/tokens-output/web/brand-2-dark/tokens-brand-2-dark" as dark;
@import "@angular/material/theming";

$blue-primary: (
	primary-10: light.$color-brand-primary,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-dark-primary: (
	primary-10: dark.$color-brand-primary,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-accent: (
	neutral-10:light.$color-accent-neutral-10,

	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-dark-accent: (
	neutral-10:dark.$color-accent-neutral-10,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$blue-app-primary: mat-palette($blue-primary, primary);
$blue-app-accent: mat-palette($blue-accent, accent);
//dark
$blue-app-dark-primary: mat-palette($blue-dark-primary, primary);
$blue-app-dark-accent: mat-palette($blue-dark-accent, accent);
// The warn palette is optional (defaults to red).
// $blue-app-warn: mat-palette($blue-forklift-red);
// Create the theme object (a Sass map containing all of the palettes).
$blue-app-theme: mat-light-theme($blue-app-primary, $blue-app-accent);
// dark
$blue-app-dark-theme: mat-dark-theme(
		$blue-app-dark-primary,
		$blue-app-dark-accent
);
@mixin theme {
	@include apply-theme();
	.blue {
		@include angular-material-theme($blue-app-theme);
		@content ($blue-app-theme);
		// dark
		&.dark-theme {
			@include angular-material-theme($blue-app-dark-theme);
			@content ($blue-app-dark-theme);
		}
	}
}
@mixin apply-theme {
	.blue {
		@content ($blue-app-theme);
		&.light-theme {
			@content ($blue-app-dark-theme);
		}
	}
}
