/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "fonts";
@import "variables";
@import "functions";

html {
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
body {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	margin: 0;
	font-family: Poppins, "Helvetica Neue", sans-serif;
	font-weight: 400;
}

h2{
	font-weight: 700;
	@include font-size($font-size-5);
	line-height:$line-heights-0;
	margin-bottom: $size-s+px;
}

button.iconOnly{
	background:none;
	padding: 0;
	margin: 0;
	border: none;
	width: $size-l; height: $size-l;
	cursor:pointer;
}
